
bin/
dist/
build/
include/
lib/
lib64
share/
**/__pycache__/
**/*.pyc
*.egg-info
pyvenv.cfg

softap.cfg
wlan.cfg

license/
#mod3rd/*/**

# testrecorder files
**/*.trun.txt
#samples/**/*.tr.txt

compile.txt
mpy/

cookies.txt


